<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--blog 配置开始-->
    <!--cache cookie session 等前缀,防止与现有程序冲突,限英文,一般无需修改-->
    <add key="blog_siteprefix" value="jqpress_blog"/>
    <!-- 程序路径,安装在根目录为"/",安装在blog子目录，则修改为"/blog/" -->
    <add key="blog_sitepath" value="/"/>
    <!--数据库路径,一般无需修改-->
    <add key="blog_dbconnection" value="App_Data/Jqpress_blog.mdb"/>
    <!--数据库类型 当前为Access-->
    <add key="DbType" value="Access"/>
    <!--数据库表前缀-->
    <add key="Tableprefix" value="jq_"/>
    <!--blog 配置结束-->
  </appSettings>
  <system.web>
    <compilation debug="true"></compilation>
    <customErrors mode="Off"></customErrors>
    <httpModules>
      <!--Jqpress 重写配置开始-->
      <add name="Jqpress_rewriter" type="Jqpress.Framework.Web.UrlRewriter"/>
      <!--Jqpress 重写配置结束-->
    </httpModules>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8"  responseEncoding="utf-8"  />
  </system.web>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="WWW Redirect" stopProcessing="true">
					<match url=".*" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="^jqpress.com$" />
					</conditions>
					<action type="Redirect" url="http://www.jqpress.com/{R:0}"
					 redirectType="Permanent" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>