<?xml version="1.0" encoding="utf-8" ?>
<siteMap>

  <siteMapNode title="首页" controller="Home" action="Index">

    <siteMapNode title="控制台"  Icon ="icon-home" controller="home" action="index" />
    
    <siteMapNode title="内容管理" Icon ="icon-file-text" controller="post" action="list" >
      <siteMapNode title="文章列表" Icon ="" controller="post" action="list" />
      <siteMapNode title="首页列表" Icon ="" controller="post" action="list" param="?home=1" />
      <siteMapNode title="添加文章" Icon ="" controller="post" action="edit" />
    </siteMapNode>
    
    <siteMapNode title="栏目管理" Icon ="icon-sitemap" controller="category" action="list" >
      <siteMapNode title="栏目列表" Icon ="" controller="category" action="list" />
      <siteMapNode title="添加栏目" Icon ="" controller="category" action="edit" />
    </siteMapNode>

    <siteMapNode title="用户管理" Icon ="icon-user" controller="user" action="list" >
      <siteMapNode title="用户列表" Icon ="" controller="user" action="list" />
      <siteMapNode title="添加用户" Icon ="" controller="user" action="edit" />
    </siteMapNode>

    <siteMapNode title="留言管理" Icon ="icon-comment" controller="comment" action="list" >
    </siteMapNode>

    <siteMapNode title="文件管理" Icon ="icon-file" controller="files" action="filelist" >
    </siteMapNode>

    <siteMapNode title="系统管理" Icon ="icon-cogs" controller="option" action="site" >
		  <siteMapNode title="站点设置" Icon ="" controller="option" action="site" />
		  <siteMapNode title="主题设置" Icon ="" controller="option" action="themes" />
      <!--<siteMapNode title="数据库备份" Icon ="" controller="option" action="user" />-->
    </siteMapNode>


	  
    </siteMapNode>
</siteMap>