<?xml version="1.0"?>
<SiteConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SendMailAuthorByPost>1</SendMailAuthorByPost>
  <SendMailAuthorByComment>1</SendMailAuthorByComment>
  <SendMailNotifyByComment>1</SendMailNotifyByComment>
  <SmtpEmail>yepeng198612@163.com</SmtpEmail>
  <SmtpServer>smtp.163.com</SmtpServer>
  <SmtpServerPost>25</SmtpServerPost>
  <SmtpUserName>yepeng198612</SmtpUserName>
  <SmtpPassword>yepeng520@znn</SmtpPassword>
  <SmtpEnableSsl>0</SmtpEnableSsl>
  <SiteName>机器鸟</SiteName>
  <SiteDescription>爱网络，爱程序，爱自由</SiteDescription>
  <MetaKeywords>机器鸟,.netblog,.netcms</MetaKeywords>
  <MetaDescription>机器鸟blog系统，机器鸟cms系统，用机器鸟产品搭建属于你自己的独立站点，开始用jqpress进行创作</MetaDescription>
  <SiteStatus>1</SiteStatus>
  <SiteTotalType>2</SiteTotalType>
  <EnableVerifyCode>1</EnableVerifyCode>
  <CommentStatus>1</CommentStatus>
  <CommentOrder>1</CommentOrder>
  <CommentApproved>2</CommentApproved>
  <CommentSpamwords>虚拟主机,域名注册,出租网,铃声下载,手机铃声,和弦铃声,手机游戏,免费铃声,彩铃,网站建设</CommentSpamwords>
  <RssStatus>1</RssStatus>
  <RssRowCount>20</RssRowCount>
  <RssShowType>2</RssShowType>
  <SidebarPostCount>10</SidebarPostCount>
  <SidebarCommentCount>10</SidebarCommentCount>
  <SidebarTagCount>20</SidebarTagCount>
  <PageSizePostCount>10</PageSizePostCount>
  <PageSizeCommentCount>50</PageSizeCommentCount>
  <UrlFormatType>2</UrlFormatType>
  <RewriteExtension>.aspx</RewriteExtension>
  <FooterHtml>© 2011-2011 jqpress官方网站 版权所有</FooterHtml>
  <Theme>prowerV5</Theme>
  <MobileTheme>default</MobileTheme>
  <WatermarkType>1</WatermarkType>
  <WatermarkPosition>4</WatermarkPosition>
  <WatermarkTransparency>8</WatermarkTransparency>
  <WatermarkQuality>80</WatermarkQuality>
  <WatermarkText>jqpress</WatermarkText>
  <WatermarkFontSize>14</WatermarkFontSize>
  <WatermarkFontName>Tahoma</WatermarkFontName>
  <WatermarkImage>watermark.gif</WatermarkImage>
  <PostRelatedCount>5</PostRelatedCount>
  <PostShowType>2</PostShowType>
</SiteConfigInfo>