<?xml version="1.0" encoding="utf-8"?>
<rewrite>

  <item lookfor="post/([A-Za-z0-9\u4e00-\u9fa5-]{1,200})((.aspx||.html)*)(/*)" sendto="default.aspx?type=post&amp;name=$1"></item>
  <item lookfor="post/([A-Za-z0-9\u4e00-\u9fa5-]{1,200})/page/(\d+)((.aspx||.html)*)(/*)" sendto="default.aspx?type=post&amp;name=$1&amp;page=$2"></item>
  <item lookfor="post/(\d{4})/(\d{2})/(\d{2})/([A-Za-z0-9\u4e00-\u9fa5-]{1,200})((.aspx||.html)*)(/*)" sendto="default.aspx?type=post&amp;year=$1&amp;month=$2&amp;day=$3&amp;name=$4"></item>
  <item lookfor="post/(\d{4})/(\d{2})/(\d{2})/([A-Za-z0-9\u4e00-\u9fa5-]{1,200})/page/(\d+)((.aspx||.html)*)(/*)" sendto="default.aspx?type=post&amp;year=$1&amp;month=$2&amp;day=$3&amp;name=$4&amp;page=$5"></item>

  <item lookfor="page/(\d+)((.aspx||.html)*)(/*)" sendto="default.aspx?type=default&amp;page=$1"></item>
  <item lookfor="category/([A-Za-z0-9\u4e00-\u9fa5-]{1,200})((\.aspx||\.html)*)(/*)" sendto="default.aspx?type=category&amp;pagename=$1"></item>
  <item lookfor="category/([A-Za-z0-9\u4e00-\u9fa5-]{1,200})/page/(\d+)((.aspx||.html)*)(/*)" sendto="default.aspx?type=category&amp;pagename=$1&amp;page=$2"></item>
  <item lookfor="tag/([A-Za-z0-9\u4e00-\u9fa5-]{1,200})((\.aspx||\.html)*)(/*)" sendto="default.aspx?type=tag&amp;pagename=$1"></item>
  <item lookfor="tag/([A-Za-z0-9\u4e00-\u9fa5-]{1,200})/page/(\d+)((.aspx||.html)*)(/*)" sendto="default.aspx?type=tag&amp;pagename=$1&amp;page=$2"></item>
  <item lookfor="author/(\w+)((\.aspx||\.html)*)(/*)" sendto="default.aspx?type=author&amp;username=$1"></item>
  <item lookfor="author/(\w+)/page/(\d+)((.aspx||.html)*)(/*)" sendto="default.aspx?type=author&amp;username=$1&amp;page=$2"></item>
  <item lookfor="archive/(\d{4})(\d{2})((\.aspx||\.html)*)(/*)" sendto="default.aspx?type=archive&amp;year=$1&amp;month=$2"></item>
  <item lookfor="archive/(\d{4})(\d{2})/page/(\d+)((\.aspx||\.html)*)(/*)" sendto="default.aspx?type=archive&amp;year=$1&amp;month=$2&amp;page=$3"></item>
  <item lookfor="search((.aspx||.html)*)" sendto="default.aspx?type=search"></item>

  <item lookfor="feed(/*)" sendto="default.aspx?type=feed"></item>
  <item lookfor="feed/post((.aspx||.html)*)" sendto="default.aspx?type=feed"></item>
  <item lookfor="feed/post/categoryid/(\d+)((.aspx||.html)*)" sendto="default.aspx?type=feed&amp;categoryid=$1"></item>
  <item lookfor="feed/comment((.aspx||.html)*)" sendto="default.aspx?type=feed&amp;action=comment"></item>
  <item lookfor="feed/comment/postid/(\d+)((.aspx||.html)*)" sendto="default.aspx?type=feed&amp;action=comment&amp;postid=$1"></item>

  <item lookfor="theme/([A-Za-z0-9\u4e00-\u9fa5-]{1,200})((.aspx||.html)*)" sendto="default.aspx?type=theme&amp;theme=$1"></item>

  <item lookfor="xmlrpc/rsd((.aspx||.html)*)" sendto="default.aspx?type=rsd"></item>
  <item lookfor="xmlrpc/metaweblog((.aspx||.html)*)" sendto="default.aspx?type=metaweblog"></item>
  <item lookfor="xmlrpc/wlwmanifest((.aspx||.html)*)" sendto="default.aspx?type=wlwmanifest"></item>


</rewrite>
