@{
    Layout = null;
}

    <!--footer-->
<footer id="footer-menu">
    <div class="container">
        <div class="row">
            <div  style="text-align:center;">
                地址：北京市昌平区崔村镇南庄营368号 手机：13811019025/13311032757 电话：010-57374359 电话：010-60701980转806/808 传真：010-60701928 
                <p class="copyright">Copyright &copy; 2014.北京俊兴彩色包装有限公司 All rights reserved.</p>
                <p>技术支持：<a href="http://www.jqpress.com">机器鸟cms</a> </p>
            </div>
             
            
        </div>
    </div>
</footer>