<?xml version="1.0"?>
<SiteConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SendMailAuthorByPost>1</SendMailAuthorByPost>
  <SendMailAuthorByComment>1</SendMailAuthorByComment>
  <SendMailNotifyByComment>1</SendMailNotifyByComment>
  <SmtpEmail>111@163.com</SmtpEmail>
  <SmtpServer>smtp.163.com</SmtpServer>
  <SmtpServerPost>25</SmtpServerPost>
  <SmtpUserName>111</SmtpUserName>
  <SmtpPassword>11111</SmtpPassword>
  <SmtpEnableSsl>0</SmtpEnableSsl>
  <SiteName>北京俊兴彩色包装印刷有限公司</SiteName>
  <SiteDescription>北京俊兴彩色包装印刷有限公司,骏兴包装，骏兴公司</SiteDescription>
  <MetaKeywords>北京俊兴彩色包装印刷有限公司,骏兴包装，骏兴公司</MetaKeywords>
  <MetaDescription>北京俊兴彩色包装印刷有限公司是从事彩色印刷，高档包装的综合性企业公司成立15年以来，经历了由小到大的发展过程</MetaDescription>
  <SiteStatus>1</SiteStatus>
  <SiteTotalType>2</SiteTotalType>
  <EnableVerifyCode>1</EnableVerifyCode>
  <IsInstalled>true</IsInstalled>
  <CommentStatus>1</CommentStatus>
  <CommentOrder>1</CommentOrder>
  <CommentApproved>2</CommentApproved>
  <CommentSpamwords>虚拟主机,域名注册,出租网,铃声下载,手机铃声,和弦铃声,手机游戏,免费铃声,彩铃,网站建设</CommentSpamwords>
  <RssStatus>1</RssStatus>
  <RssRowCount>20</RssRowCount>
  <RssShowType>2</RssShowType>
  <SidebarPostCount>10</SidebarPostCount>
  <SidebarCommentCount>10</SidebarCommentCount>
  <SidebarTagCount>20</SidebarTagCount>
  <PageSizePostCount>10</PageSizePostCount>
  <PageSizeCommentCount>50</PageSizeCommentCount>
  <UrlFormatType>2</UrlFormatType>
  <RewriteExtension>.aspx</RewriteExtension>
  <FooterHtml>地址：北京市昌平区崔村镇南庄营368号 手机：13811019025/13311032757 电话：010-57374359 电话：010-60701980转806/808 传真：010-60701928
    &lt;p class="copyright"&gt;Copyright &amp;copy; 2014.北京俊兴彩色包装有限公司 All rights reserved.&lt;/p&gt;</FooterHtml>
  <Theme>printV1</Theme>
  <MobileTheme>default</MobileTheme>
  <WatermarkType>1</WatermarkType>
  <WatermarkPosition>4</WatermarkPosition>
  <WatermarkTransparency>8</WatermarkTransparency>
  <WatermarkQuality>80</WatermarkQuality>
  <WatermarkText>jqpress</WatermarkText>
  <WatermarkFontSize>14</WatermarkFontSize>
  <WatermarkFontName>Tahoma</WatermarkFontName>
  <WatermarkImage>watermark.gif</WatermarkImage>
  <PostRelatedCount>5</PostRelatedCount>
  <PostShowType>2</PostShowType>
</SiteConfigInfo>