
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Jqpress安装</title>
    <link rel="stylesheet" type="text/css" media="all" href="/content/bootstrap/css/bootstrap.min.css" />
 <style>
 body {padding-top: 40px; padding-bottom: 40px;background-color: #eee;}
.install{ margin: 0px auto; max-width: 800px;background: #ffffff;padding: 15px;border-radius: 4px;border: 1px solid #ffffff;}
#logo{ margin: 0px auto;max-width: 200px;}
.form-table{padding: 10px}
.form-table tr td{ padding: 10px;height: 20px;}
.h1{ border-bottom: 1px solid #ccc;padding: 10px;}
p{ padding: 10px;}
 </style>
</head>
    <body >
        
        <div class="container">
            <div class="install">
            <h1 id="logo"><a href="http://www.jqpress.com">Jqpress</a></h1>

               @RenderBody()

             </div>
        </div>
    </body>
</html>
