@{
    Layout = "_Layout.cshtml";
}

<h1>系统环境检测</h1>

<p>欢迎使用Jqpress。请在确认系统安装了.net framework4.0以上版本及mvc3以上版本</p>

<p><a class="btn btn-default"  href="@Url.Action("Setup","Install")">开始安装</a></p> 
   
