@{
    Layout = "_Layout.cshtml";
}

<h1>安装成功</h1>
<p>安装成功，是不是很简单，开始体验一个还不错的作品吧</p>

<p>
<a class="btn btn-default"  href="@Url.Action("Index","Home")">浏览首页</a> &nbsp;
<a class="btn btn-default"  href="/admin">登录后台</a>
</p>

   
